

.prvidiv{
    
  width: 960px;
  position: absolute;
  left: 20%;
 
  background: red;
  color: white;
    
}
.ulista{
    float: right;
  padding-right: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type:none;
}
.ulista li{
   
    display: inline;
  }
  .prvaslika{
    width: 960px;
   position: relative;
   top: 50px;
   left: 19.7%;
  }
  img{
    width: 960px;
  }
  .malidiv1{
    
    background: red;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 630px;
    left: 19.7%;
    
  }
  
  .malidiv2{
   
    background: rgb(2, 2, 206);
    width: 300px;
    height: 200px;
    position: absolute;
    top: 630px;
    left: 42% ;
  }
  .divp1{
    
    width: 300px;
    height: 200px;
    position: absolute;
    top: 850px;
    left: 19.7% ;
   
  }
  .divp2{
    float: right;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 850px;
     left: 42% ;
  }
  .orange{
   
    background: orange;
    width: 275px;
    height: 200px;
    position: absolute;
    top: 630px;
    left: 64.3%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .drugidiv2{
    
    background: orange;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 980px;
    left: 19.7% ;
  }
  .drugidiv3{
    
    background: green;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 980px;
    left: 42% ;
  }
  .drugidiv4{
    float: right;
    background: red;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 980px;
    left: 64.3%;
  }
  .divp3{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1200px;
    left: 19.7% ;
  }
  .divp4{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1200px;
    left: 42% ;
  }
  .divp5{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1200px;
    left: 64.3%;
  }
  .drugidiv5{
    
    background: rgb(2, 2, 206);
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1320px;
    left: 19.7% ;
  }
  .drugidiv6{
    float: right;
    background:orange;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1320px;
    left: 42% ;
  }
  .drugidiv7{
    float: right;
    background:green;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1320px;
    left: 64.3%;
  }
  .divp6{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1540px;
    left: 19.7% ;
  }
  .divp7{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1540px;
    left: 42% ;
  }
  .divp8{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1540px;
    left: 64.3%;
  }
  .poslednji{
    
    width: 1100px;
    height: 30px;
    background: rgb(2, 2, 206);
    color: white;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 1660px;
    left: 16%;
    padding-left: 60px;
    padding-top: 10px;
  
  }
  