.container {
    width: 960px;    
    margin:auto; 
}

header {
    padding:10px;
}

main {
    display: flex;
}

aside {
    flex: 1 0 480px;
    padding: 10px;
    border-right: 2px solid black;
}
section {
    flex: 1 0 480px;
    padding: 10px;
}
