body{
    background-image: url(https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;


}